.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  padding: 20px;
  gap: 15px;
  background-color: rgba(243, 242, 240, 0.87);
  border-radius: 3%;
}

.div1 p h1 {
  display: inline;
}
.div2 {
  text-align: left;
}
.Page {
  background-color: rgb(229, 243, 229);
  padding: 20px;
  width: 33%;
  border-radius: 3%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.Page:hover {
  transform: translateY(-5px);
  transition: 0.2;
}
